In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import torch, torchvision
import PIL

In [2]:
original_data = pd.read_csv(os.path.join('../data/', 'train.csv'))
original_data.columns = ['Image', 'Whale_ID']
original_data = original_data[original_data.Whale_ID != 'new_whale']

In [7]:
original_data.head(4)

           Image   Whale_ID
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
6  000a6daec.jpg  w_dd88965

In [4]:
singletons = pd.concat([original_data.Whale_ID.value_counts()],axis=1).reset_index()
type(singletons)
singletons.columns=['Whale_ID', 'Frequency_Whale']
singletons = singletons[singletons.Frequency_Whale == 1]
singletons

       Whale_ID  Frequency_Whale
2931  w_28f572d                1
2932  w_dd4cd65                1
2933  w_d576dff                1
2934  w_85d9e99                1
2935  w_c68b887                1
2936  w_a074110                1
2937  w_70fc054                1
2938  w_6cb656d                1
2939  w_f3179b3                1
2940  w_a11932d                1
2941  w_fd99c63                1
2942  w_b8f1666                1
2943  w_f16afc2                1
2944  w_fcc8a87                1
2945  w_95b6fde                1
2946  w_b1c5c0b                1
2947  w_3378e77                1
2948  w_fe9eac7                1
2949  w_53d6a5e                1
2950  w_56d8530                1
2951  w_6ee9b69                1
2952  w_fc90f18                1
2953  w_d63c8d1                1
2954  w_24076b5                1
2955  w_c0c5cae                1
2956  w_9800d65                1
2957  w_c49e344                1
2958  w_7d34a32                1
2959  w_e3e617e                1
2960  w_9ff0b7b                1
...         ...              ...
4974  w_4857351                1
4975  w_58bc953                1
4976  w_b8ee123                1
4977  w_e5b21c0                1
4978  w_ba01717                1
4979  w_ebcf899                1
4980  w_bc1519b                1
4981  w_31233f8                1
4982  w_082978e                1
4983  w_deb9471                1
4984  w_7c21ab5                1
4985  w_d0ce152                1
4986  w_b82d0eb                1
4987  w_675d7d7                1
4988  w_5d35047                1
4989  w_e66ac81                1
4990  w_350a5ba                1
4991  w_fed1938                1
4992  w_0e1eccb                1
4993  w_d05fc81                1
4994  w_438dd0b                1
4995  w_7bbf268                1
4996  w_789e0e6                1
4997  w_53d3f73                1
4998  w_7d55653                1
4999  w_f5d4627                1
5000  w_86d0c34                1
5001  w_bb443aa                1
5002  w_52db74a                1
5003  w_a3ce1d5                1

[2073 rows x 2 columns]

In [5]:
singletons.shape

(2073, 2)

#### Original dataFrame and the one containing Singletons should be merged to get corresponding image filename

In [8]:
singletons_named_files = pd.merge(original_data,
                                 singletons,
                                 left_on='Whale_ID',
                                 right_on='Whale_ID',
                                 how='inner') # inner join
singletons_named_files.head(4)

           Image   Whale_ID  Frequency_Whale
0  00a4de95e.jpg  w_62bb54b                1
1  00e68dc59.jpg  w_bf33ddf                1
2  011258703.jpg  w_8be8406                1
3  0118a64b8.jpg  w_dd00c66                1

In [9]:
singletons_named_files.shape

(2073, 3)

In [11]:
singletons_named_files = singletons_named_files.drop(columns=['Frequency_Whale'])
singletons_named_files.head(4)

           Image   Whale_ID
0  00a4de95e.jpg  w_62bb54b
1  00e68dc59.jpg  w_bf33ddf
2  011258703.jpg  w_8be8406
3  0118a64b8.jpg  w_dd00c66